<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<meta name="description" content="Этo пример кода HTML5" />
<meta name="keywords" content="HTML5, CSS3, Javascript" />
<title>Изучение vue.js - Динамические стили</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }
        .red {background: red;}
        .blue {background: blue;}
        .green {background: green;}
    </style>
</head>
<body><!-- Тело документа -->
<div id="app">
    <div class="circle" 
        :style="circleClasses"
    ></div>
    <div class="circle"
        :style="[circleClasses, {'width': height + 'px'}]"
    ></div>
<hr>
    <input type="text" v-model="color">
    <input type="text" v-model="height">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

	new Vue({
		el: '#app',
		data: {
            isActiv: false,
            color: 'blue',
            height: 100
        },
        computed: {
            circleClasses: function() {
                return {
                    'background': this.color, 
                    'height': this.height + 'px'
                }
            }
        },
	})
</script>
</body>
</html>
