<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<meta name="description" content="Этo пример кода HTML5" />
<meta name="keywords" content="HTML5, CSS3, Javascript" />
<title>Изучение vue.js - Работа со списками</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }
        .red {background: red;}
        .blue {background: blue;}
        .green {background: green;}
    </style>
</head>
<body><!-- Тело документа -->
<div id="app">
    <ul>
        <li v-for="(person, index) in people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
    </ul>
    <hr>
    <ol>
        <li v-for="num in 4">{{ num }}</li>
    </ol>
    <hr>
    <ul>
        <li v-for="(value, key, index) in person"><em>{{index + 1 }}</em>. <b>{{key}}</b> {{ value }}</li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

	new Vue({
		el: '#app',
		data: {
            people: [
                {name: 'vlad', age: 20},
                {name: 'max', age: 25},
                {name: 'alla', age: 30}
            ],
            person: {
                name: 'John',
                age: 40,
                job: 'frontend'
            }
        },
        computed: {

        },
        methods: {

        }
	})
</script>
</body>
</html>
