<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<meta name="description" content="Этo пример кода HTML5" />
<meta name="keywords" content="HTML5, CSS3, Javascript" />
<title>Изучение vue.js - Управление отображением элементов</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }
        .red {background: red;}
        .blue {background: blue;}
        .green {background: green;}
    </style>
</head>
<body><!-- Тело документа -->
<div id="app">
    <h2 v-if="type === 'a'">A</h2>
    <h2 v-else-if="type === 'b'">B</h2>
    <h2 v-else-if="type === 'c'">C</h2>
    <h2 v-else>not match</h2>
    <hr>
    <input type="text" v-model="type">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

	new Vue({
		el: '#app',
		data: {
            type: 'a'
        },
        computed: {

        },
        methods: {

        }
	})
</script>
</body>
</html>
